/* @CHARSET "UTF-8";
.order-item{border-top: 1px solid #E5E5E5;padding:20px 0;}
.order-img{width:150px;height:100px;}
.info-box{width:100px;height:40px;}
.order-price{width:40px;height:20px;margin-top:40px;}
.order-state{width:40px;height:20px;margin-top:40px;} */