<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE web-app PUBLIC "-//Sun Microsystems, Inc.//DTD Web Application 2.3//EN" "http://java.sun.com/dtd/web-app_2_3.dtd">
<web-app>
  <servlet>
    <servlet-name>RecommendationServlet</servlet-name>
    <display-name>This is the display name of my J2EE component</display-name>
    <description>This is the description of my J2EE component</description>
    <servlet-class>cn.com.zx.travelcompanion.servlet.RecommendationServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>GetDetailSpotServlet</servlet-name>
    <display-name>This is the display name of my J2EE component</display-name>
    <description>This is the description of my J2EE component</description>
    <servlet-class>cn.com.zx.travelcompanion.servlet.GetDetailSpotServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>j</servlet-name>
    <display-name>This is the display name of my J2EE component</display-name>
    <description>This is the description of my J2EE component</description>
    <servlet-class>cn.com.zx.travelcompanion.servlet.hotelAdmin.j</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>HotelInfoGetInfo1Servlet</servlet-name>
    <display-name>This is the display name of my J2EE component</display-name>
    <description>This is the description of my J2EE component</description>
    <servlet-class>cn.com.zx.travelcompanion.servlet.HotelInfoGetInfo1Servlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>HotelApply</servlet-name>
    <display-name>This is the display name of my J2EE component</display-name>
    <description>This is the description of my J2EE component</description>
    <servlet-class>cn.com.zx.travelcompanion.servlet.hotelAdmin.HotelApply</servlet-class>
  </servlet>





  <servlet-mapping>
    <servlet-name>RecommendationServlet</servlet-name>
    <url-pattern>/servlet/RecommendationServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>GetDetailSpotServlet</servlet-name>
    <url-pattern>/servlet/GetDetailSpotServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>j</servlet-name>
    <url-pattern>/servlet/j</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>HotelInfoGetInfo1Servlet</servlet-name>
    <url-pattern>/servlet/HotelInfoGetInfo1Servlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>HotelApply</servlet-name>
    <url-pattern>/HotelApply</url-pattern>
  </servlet-mapping>

</web-app>